@font-face{
        src: url()
}

h1{
        font-family: Montserrat-VariableFont_wght, Arial; 
        /*1em: 100%, 1.5: 150%*/    
        font-size: 3em;
}
#p1{
        font-family: "Quicksand","Lucida console", "courier new";
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
}
h4{
        font-family: "Lexend-VariableFont_wght","Lucida console", "courier new";
        font-size: 18px;
        font-weight: bold;
}
#pl{
        font-family: "Quicksand","Lucida console", "courier new";
        font-size: 20px;
        font-weight: bold;
}