#b1{
        width: 200px;
        height: 200px;
        background-color: aqua;
        position: sticky;
        top: 0px;
}
#b2{
        width: 100px;
        height: 100px;
        background-color: rgb(166, 255, 0);
        position: static;
        top: 50px;
        left: 50px;
}