pre{
        color: rgb(144, 41, 41);
}
h1{
        color: rgb(80, 28, 28);
        text-align: center;
}
h4{
        color: rgb(80, 28, 28);
        text-align: center;
}
body{
        background-color: wheat;
}
div{
        text-align: center;
}