body{
        background-image: url(img/b1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        color: rgb(255, 247, 0);
}
div{
        background-color: rgba(0, 0, 0, 0.51);
}
