h1::first-letter{
        font-size: 1.5em;
        font-style: italic;
}
p::first-line{
        background-color: rgb(150, 255, 114);
}
p::selection{
       color: rgb(76, 244, 247);
       background-color: rgb(68, 82, 82);
}
#a::after{
        content: "🍎";
}
#o::after{
        content: "🍊";
}
#b::after{
        content: "🍌";
}
#fruit li::marker{
        content: "✔️";
        font-size: 1.2em;

}