.container{
        display: flex;
        border: 10px solid black;
        height: 90vh;
        flex-wrap: wrap;
        align-content: flex-start;
        row-gap: 1em;
        column-gap: 1em;
}
.box{
        width: 100px;
        height: 100px;
        font-size: 5em;
        text-align: center;
        border-radius: 20px;
}
#b1{
        background-color: hsl(0, 100%, 50%);
}
#b2{
        background-color: rgb(0, 208, 255);
}
#b3{
        background-color: rgb(217, 255, 0);
}
#b4{
        background-color: rgb(85, 255, 0);
}