body{
        background-color: black;
}
h1{
        color: wheat;
}
#p1{
        color: red;
}
#p2{
        color: aqua;
}
#p3{
        color: chartreuse;
}
#p4{
        color: orange;
}
.odd{
        color: brown;
}
.even{
        color: azure;
}